/build/
/Practical 1/Question3/QuestionThreeBankAccount/nbproject/private/
/Practical 1/Question3/QuestionThreeBankAccount/QuestionThreeBankAccount-war/nbproject/private/
/Practical 1/Question3/QuestionThreeBankAccount/QuestionThreeBankAccount-ejb/nbproject/private/
/Practical 1/Question3a/QuestionThreeBankAccount/nbproject/private/
/Practical 1/Question3a/QuestionThreeBankAccount/build/
/Practical 1/Question3/QuestionThreeBankAccount/build/
/Practical 1/Question3/QuestionThreeBankAccount/dist/
/Practical 1/Question2/dist/
